<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<system.webServer>
<rewrite>
<rule name="rule 1d">
<match url="^main/$"  />
<action type="Rewrite" url="/main/main.php"  />
</rule>
<rule name="rule 2d">
<match url="^main$"  />
<action type="Rewrite" url="/main/main.php"  />
</rule>
<rule name="rule 3d">
<match url="^main/counters$"  />
<action type="Rewrite" url="/main/addcounter.php"  />
</rule>
<rule name="rule 4d">
<match url="^main/counters/$"  />
<action type="Rewrite" url="/main/addcounter.php"  />
</rule>
<rule name="rule 5d">
<match url="^main/qr/$"  />
<action type="Rewrite" url="/main/qrcode.php"  />
</rule>
<rule name="rule 6d">
<match url="^signup/$"  />
<action type="Rewrite" url="/main/signup.php"  />
</rule>
<rule name="rule 7d">
<match url="^signup$"  />
<action type="Rewrite" url="/main/signup.php"  />
</rule>
<rule name="rule 8d">
<match url="^signup/post/$"  />
<action type="Rewrite" url="/submit/signup.php"  />
</rule>
<rule name="rule 9d">
<match url="^main/success/$"  />
<action type="Rewrite" url="/main/signup_finish.php"  />
</rule>
<rule name="rule 10d">
<match url="^main/success$"  />
<action type="Rewrite" url="/main/signup_finish.php"  />
</rule>
<rule name="rule 11d">
<match url="^login/post/$"  />
<action type="Rewrite" url="/submit/login.php"  />
</rule>
<rule name="rule 12d">
<match url="^main/dash/$"  />
<action type="Rewrite" url="/main/landing.php"  />
</rule>
<rule name="rule 13d">
<match url="^main/dash$"  />
<action type="Rewrite" url="/main/landing.php"  />
</rule>
<rule name="rule 14d">
<match url="^add$"  />
<action type="Rewrite" url="/main/addsignup.php"  />
</rule>
<rule name="rule 15d">
<match url="^add/$"  />
<action type="Rewrite" url="/main/addsignup.php"  />
</rule>
<rule name="rule 16d">
<match url="^add/post/$"  />
<action type="Rewrite" url="/main/addsignup_post.php"  />
</rule>
<rule name="rule 17d">
<match url="^add/success/$"  />
<action type="Rewrite" url="/main/add_success.php"  />
</rule>
<rule name="rule 18d">
<match url="^add/success$"  />
<action type="Rewrite" url="/main/add_success.php"  />
</rule>
<rule name="rule 19d">
<match url="^logout/$"  />
<action type="Rewrite" url="/main/logout.php"  />
</rule>
<rule name="rule 20d">
<match url="^logout$"  />
<action type="Rewrite" url="/main/logout.php"  />
</rule>
<rule name="rule 21d">
<match url="^logout$"  />
<action type="Rewrite" url="/main/logout.php"  />
</rule>
</rewrite>
</system.webServer>
</configuration>
